
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    background: linear-gradient(to right, #1a1515, #6b6b6b);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


h1 {
    font-size: 24px;
    margin-bottom: auto;
    color: #333;
}

label {
    font-size: 16px;
    color:black;
}

input[type="date"] {
    font-size: 16px;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#imageContainer {
    margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}
